.site-title {
  font-size: 22px !important;
}
body {
  font-family:"Avenir LT W01_55 Roman1475520", 'Open Sans', sans-serif;
  font-weight:normal
}
h1 {
  font-family:"Avenir LT W01_85 Heavy1475544", 'Open Sans', sans-serif;
  font-weight:heavy
}
li.nav-list-item a.active {
  color: #a6db50 !important;
}
li.nav-list-item a {
  color: #ddd;
}
